Repository whoschek/bzfs: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyrefly-infer, forbid-noqa-E, forbid-noqa-F, forbid-non-empty-init-py, forbid-dunder-all, forbid-aliased-import-of-modules, forbid-aliased-import-of-attributes, forbid-ambiguous-characters

Path conditions:
  pyrefly-infer: any file but: .*
  forbid-noqa-E: any of: \.py$
  forbid-noqa-F: any of: \.py$
  forbid-non-empty-init-py: any of: .*\/__init__\.py$
  forbid-dunder-all: any of: \.py$
  forbid-aliased-import-of-modules: any of: \.py$
  forbid-aliased-import-of-attributes: any of: \.py$
  forbid-ambiguous-characters: any of: \.py$

test: also run nightly tests on almalinux-9.7
  .github/workflows/python-app.yml
Due: none

test: also run nightly tests on almalinux-9.7
  .github-workflow-scripts/install_almalinux9.sh
  .github/workflows/python-app.yml
Due: none

test: also run nightly tests on almalinux-9.7
  .github-workflow-scripts/install_almalinux9.sh
Due: none

test: also run nightly tests on almalinux-9.7
  .github-workflow-scripts/install_almalinux_9.sh
  .github/workflows/python-app.yml
Due: none

test: also run nightly tests on almalinux-10.1 and almalinux-9.7
  .github-workflow-scripts/install_almalinux_9.sh
  .github/workflows/python-app.yml
Due: none

test: also run nightly tests on almalinux-10.1 and almalinux-9.7 (cont'd)
  .github-workflow-scripts/install_almalinux_9.sh
Due: none

docs: fix typo
  README.md
  bzfs_main/argparse_cli.py
Due: forbid-noqa-E, forbid-noqa-F, forbid-dunder-all, forbid-aliased-import-of-modules, forbid-aliased-import-of-attributes, forbid-ambiguous-characters

style: improve readability
  README.md
Due: none

perf: improve regex rewriting
  bzfs_main/util/utils.py
  bzfs_tests/test_utils.py
Due: forbid-noqa-E, forbid-noqa-F, forbid-dunder-all, forbid-aliased-import-of-modules, forbid-aliased-import-of-attributes, forbid-ambiguous-characters

docs: update CHANGELOG
  CHANGELOG.md
Due: none

chore: add PEP 561 py.typed marker
  bzfs_main/py.typed
  pyproject.toml
Due: none

docs: --compare-snapshot-lists: add example output
  .gitignore
  README.md
  bzfs_docs/compare-snapshot-lists.log
  bzfs_main/argparse_cli.py
Due: forbid-noqa-E, forbid-noqa-F, forbid-dunder-all, forbid-aliased-import-of-modules, forbid-aliased-import-of-attributes, forbid-ambiguous-characters

style: improve readability
  CHANGELOG.md
  bzfs_main/util/retry.py
Due: forbid-noqa-E, forbid-noqa-F, forbid-dunder-all, forbid-aliased-import-of-modules, forbid-aliased-import-of-attributes, forbid-ambiguous-characters

chore: call_with_retries(): make retry_after_backoff_strategy more customizable
  bzfs_tests/test_retry.py
Due: forbid-noqa-E, forbid-noqa-F, forbid-dunder-all, forbid-aliased-import-of-modules, forbid-aliased-import-of-attributes, forbid-ambiguous-characters

chore: call_with_retries(): make retry_after_backoff_strategy more customizable (cont'd)
  bzfs_main/util/retry.py
  bzfs_tests/test_retry.py
Due: forbid-noqa-E, forbid-noqa-F, forbid-dunder-all, forbid-aliased-import-of-modules, forbid-aliased-import-of-attributes, forbid-ambiguous-characters

chore: add PEP 561 py.typed marker (cont'd)
  bzfs_tests/py.typed
  pyproject.toml
Due: none

refactor: call_with_retries(): add BackoffContext API for ease of use
  bzfs_main/util/retry.py
  bzfs_tests/test_retry.py
Due: forbid-noqa-E, forbid-noqa-F, forbid-dunder-all, forbid-aliased-import-of-modules, forbid-aliased-import-of-attributes, forbid-ambiguous-characters

ci: reduce output noise
  .github/workflows/python-app.yml
Due: none

style: improve readability
  bzfs_tests/test_retry.py
Due: forbid-noqa-E, forbid-noqa-F, forbid-dunder-all, forbid-aliased-import-of-modules, forbid-aliased-import-of-attributes, forbid-ambiguous-characters

chore: call_with_retries(): add examples that demonstrate how to integrate 1) a circuit breaker, and 2) rate limits and honoring a Retry-After delay
  bzfs_tests/test_retry.py
Due: forbid-noqa-E, forbid-noqa-F, forbid-dunder-all, forbid-aliased-import-of-modules, forbid-aliased-import-of-attributes, forbid-ambiguous-characters

docs: --compare-snapshot-lists: add example output (cont'd)
  README.md
  bzfs_main/argparse_cli.py
Due: forbid-noqa-E, forbid-noqa-F, forbid-dunder-all, forbid-aliased-import-of-modules, forbid-aliased-import-of-attributes, forbid-ambiguous-characters

test: add tests for backoff context helpers
  bzfs_tests/test_retry.py
Due: forbid-noqa-E, forbid-noqa-F, forbid-dunder-all, forbid-aliased-import-of-modules, forbid-aliased-import-of-attributes, forbid-ambiguous-characters

refactor: call_with_retries(): rename RetryOptions to RetryTemplate
  bzfs_main/bzfs.py
  bzfs_main/util/parallel_tasktree_policy.py
  bzfs_main/util/retry.py
  bzfs_tests/test_parallel_tasktree_policy.py
  bzfs_tests/test_retry.py
Due: forbid-noqa-E, forbid-noqa-F, forbid-dunder-all, forbid-aliased-import-of-modules, forbid-aliased-import-of-attributes, forbid-ambiguous-characters

chore: call_with_retries(): add example async version of call_with_retries()
  bzfs_tests/test_all.py
  bzfs_tests/test_retry_examples.py
Due: forbid-noqa-E, forbid-noqa-F, forbid-dunder-all, forbid-aliased-import-of-modules, forbid-aliased-import-of-attributes, forbid-ambiguous-characters

chore: move examples from test_retry.py into test_retry_examples.py
  bzfs_main/util/retry.py
  bzfs_tests/test_retry.py
  bzfs_tests/test_retry_examples.py
Due: forbid-noqa-E, forbid-noqa-F, forbid-dunder-all, forbid-aliased-import-of-modules, forbid-aliased-import-of-attributes, forbid-ambiguous-characters

style: improve readability
  README.md
  bzfs_main/argparse_cli.py
  bzfs_main/util/retry.py
  bzfs_tests/test_retry.py
  bzfs_tests/test_retry_examples.py
Due: forbid-noqa-E, forbid-noqa-F, forbid-dunder-all, forbid-aliased-import-of-modules, forbid-aliased-import-of-attributes, forbid-ambiguous-characters

chore(deps-dev): bump optional python development dependencies
  .pre-commit-config.yaml
Due: none

style: improve readability
  README.md
  bzfs_docs/compare-snapshot-lists-example.log
  bzfs_main/argparse_cli.py
Due: forbid-noqa-E, forbid-noqa-F, forbid-dunder-all, forbid-aliased-import-of-modules, forbid-aliased-import-of-attributes, forbid-ambiguous-characters

docs(agent): update instructions for agents
  .gitignore
  AGENTS.md
Due: none

test: split test_integrations.py into multiple smaller files
  bzfs_tests/itest/__init__.py
  bzfs_tests/itest/ibase.py
  bzfs_tests/itest/test_incremental_send_steps.py
  bzfs_tests/itest/test_integrations.py
  bzfs_tests/itest/test_local.py
  bzfs_tests/itest/test_remote.py
  bzfs_tests/itest/test_smoke_adhoc.py
  bzfs_tests/itest/test_ssh.py
  bzfs_tests/test_all.py
  bzfs_tests/test_integrations.py
  pyproject.toml
Due: forbid-noqa-E, forbid-noqa-F, forbid-non-empty-init-py, forbid-dunder-all, forbid-aliased-import-of-modules, forbid-aliased-import-of-attributes, forbid-ambiguous-characters
