Repository whoschek/bzfs: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyrefly-infer, forbid-noqa-E, forbid-noqa-F, forbid-non-empty-init-py, forbid-dunder-all, forbid-aliased-import-of-modules, forbid-aliased-import-of-attributes, forbid-ambiguous-characters

pyrefly-infer:
  name: pyrefly infer (auto-fix types)
  entry: pyrefly infer --containers=true
  language: python
  additional_dependencies:
  - pyrefly==0.42.0
  pass_filenames: false

forbid-noqa-E:
  name: 'forbid ''# noqa: E'' (pycodestyle errors)'
  language: pygrep
  entry: '#\s*noqa:\s*E(?!501\b)\d+\b'

forbid-noqa-F:
  name: 'forbid ''# noqa: F'' (pyflakes)'
  language: pygrep
  entry: '#\s*noqa:\s*F(?!821\b)\d+\b'

forbid-non-empty-init-py:
  name: forbid non-empty __init__.py
  language: pygrep
  entry: \S

forbid-dunder-all:
  name: forbid __all__ definitions
  language: pygrep
  entry: ^__all__\s*=

forbid-aliased-import-of-modules:
  name: forbid aliased import of modules
  language: pygrep
  entry: ^\s*import\s+bzfs_\w+(\.\w+)*\s+as\s+\w+\s*

forbid-aliased-import-of-attributes:
  name: forbid aliased import of attributes
  language: pygrep
  args:
  - --multiline
  entry: ^\s*from\s+bzfs_\w+(\.\w+)*\s+import\s+(\(\n\s*)?(?!PROG_NAME)\w+(\.\w+)*\s+as\s+\w+\s*

forbid-ambiguous-characters:
  name: forbid ambiguous characters
  language: pygrep
  entry: …|—|–|“|”|‘|’|→

test: be more conservative on install
  .github/actions/pre-commit/action.yml
Due: none

ci: be more conservative on install
  .github/actions/common/action.yml
  .github/actions/pre-commit/action.yml
  .github/workflows/python-release.yml
Due: none

test: be more conservative on install
  .github-workflow-scripts/test_ubuntu_24_04_lima.sh
  .pre-commit-config.yaml
  test_host.sh
Due: none

docs: update CHANGELOG
  CHANGELOG.md
Due: none

ci: be more conservative on install
  .github/workflows/python-release.yml
Due: none

ci: disable mdformat-config for pre-commit on aarch64 Linux as taplo install currently fails there
  .pre-commit-config.yaml
Due: none

test: make test VM creation more reliable
  .github-workflow-scripts/test_ubuntu_24_04_lima.sh
Due: none

docs: improve README.md
  README.md
  pyproject.toml
Due: none

test: Enable test VM to have its own venv and git hooks
  .github-workflow-scripts/test_ubuntu_24_04_lima.sh
Due: none

style: improve readability
  .github-workflow-scripts/test_ubuntu_24_04_lima.sh
Due: none

docs(agent): update instructions for agents
  AGENTS.md
Due: none

chore: call_with_retries(): optionally, also pass retryable error category derived from domain-specific classification
  bzfs_main/util/retry.py
  bzfs_tests/test_retry_examples.py
Due: forbid-noqa-E, forbid-noqa-F, forbid-dunder-all, forbid-aliased-import-of-modules, forbid-aliased-import-of-attributes, forbid-ambiguous-characters

test: expand resume test
  bzfs_tests/itest/test_local.py
Due: forbid-noqa-E, forbid-noqa-F, forbid-dunder-all, forbid-aliased-import-of-modules, forbid-aliased-import-of-attributes, forbid-ambiguous-characters

test: test VM: make key creation idempotent
  .github-workflow-scripts/test_ubuntu_24_04_lima.sh
Due: none

style: test VM: improve readability
  .github-workflow-scripts/test_ubuntu_24_04_lima.sh
Due: none

test: test VM: add option to protect test VM from accidental deletion
  .github-workflow-scripts/test_ubuntu_24_04_lima.sh
Due: none

test: update zfs versions to 2.4.1 and 2.3.6
  .github/workflows/python-app.yml
Due: none

feat: add experimental Agent skill that can generate Bash or Python scripts that use bzfs and bzfs_jobrunner for custom ZFS workflows in a sandboxed test VM
  .agents/skills/experimental-bzfs-script-generator/SKILL.md
  .agents/skills/experimental-bzfs-script-generator/assets/skill_creation_prompt.md
  .agents/skills/experimental-bzfs-script-generator/references/safety_and_semantics.md
  .agents/skills/experimental-bzfs-script-generator/references/script_templates.md
  .agents/skills/experimental-bzfs-script-generator/references/simulation_examples.md
  .agents/skills/experimental-bzfs-script-generator/references/task_recipes.md
Due: none

style: don't format skill scripts
  .pre-commit-config.yaml
Due: none

docs(agent): update instructions for agents
  .agents/skills/experimental-bzfs-script-generator/SKILL.md
  .agents/skills/experimental-bzfs-script-generator/assets/skill_creation_prompt.md
  .agents/skills/experimental-bzfs-script-generator/references/safety_and_semantics.md
  .agents/skills/experimental-bzfs-script-generator/references/script_templates.md
  .agents/skills/experimental-bzfs-script-generator/references/simulation_examples.md
  .agents/skills/experimental-bzfs-script-generator/references/task_recipes.md
  AGENTS.md
Due: none

style: improve readability
  .agents/skills/experimental-bzfs-script-generator/assets/skill_creation_prompt.md
  .github-workflow-scripts/install_almalinux_9.sh
  .github-workflow-scripts/test_ubuntu_24_04_lima.sh
  bzfs_tests/bzfs_job_example.py
Due: forbid-noqa-E, forbid-noqa-F, forbid-dunder-all, forbid-aliased-import-of-modules, forbid-aliased-import-of-attributes, forbid-ambiguous-characters

chore(deps-dev): bump optional python development dependencies
  .pre-commit-config.yaml
  pyproject.toml
Due: none

perf: reuse connection even immediately after reboot of operating system
  CHANGELOG.md
  bzfs_main/util/connection.py
  bzfs_tests/test_connection.py
Due: forbid-noqa-E, forbid-noqa-F, forbid-dunder-all, forbid-aliased-import-of-modules, forbid-aliased-import-of-attributes, forbid-ambiguous-characters

test: test VM: use hostname without synthetic "lima-" prefix for ease-of-use
  .github-workflow-scripts/test_ubuntu_24_04_lima.sh
Due: none

perf: refresh ssh connection immediately when the expected control socket path is missing or stale, and remove stale control socket paths
  CHANGELOG.md
  bzfs_main/configuration.py
  bzfs_main/util/connection.py
  bzfs_tests/itest/test_ssh.py
  bzfs_tests/test_configuration.py
  bzfs_tests/test_connection.py
Due: forbid-noqa-E, forbid-noqa-F, forbid-dunder-all, forbid-aliased-import-of-modules, forbid-aliased-import-of-attributes, forbid-ambiguous-characters

test: test VM: optionally, enable each matching VM to talk via ssh to each other matching VM
  .github-workflow-scripts/lima_mesh_setup.sh
  .github-workflow-scripts/lima_testbed.sh
  .github-workflow-scripts/test_ubuntu_24_04_lima.sh
  CHANGELOG.md
  README.md
  bzfs_tests/bzfs_job_testbed.py
  bzfs_tests/itest/test_integrations.py
  bzfs_tests/itest/test_test_ubuntu_24_04_lima_sh.py
Due: forbid-noqa-E, forbid-noqa-F, forbid-dunder-all, forbid-aliased-import-of-modules, forbid-aliased-import-of-attributes, forbid-ambiguous-characters

test: test VM: make ZFS pool capacity configurable in testbed
  .github-workflow-scripts/lima_testbed.sh
  .github-workflow-scripts/test_ubuntu_24_04_lima.sh
Due: none

test: test VM: rename testbed params
  .github-workflow-scripts/lima_testbed.sh
Due: none

test: rename test_ubuntu_24_04_lima.sh -> lima_ubuntu_24_04.sh
  .github-workflow-scripts/lima_mesh.sh
  .github-workflow-scripts/lima_testbed.sh
  .github-workflow-scripts/lima_ubuntu_24_04.sh
  CHANGELOG.md
  README.md
  bzfs_tests/itest/test_integrations.py
  bzfs_tests/itest/test_lima_ubuntu_24_04_sh.py
Due: forbid-noqa-E, forbid-noqa-F, forbid-dunder-all, forbid-aliased-import-of-modules, forbid-aliased-import-of-attributes, forbid-ambiguous-characters

test: test VM: move scripts into dedicated bzfs_testbed directory
  CHANGELOG.md
  README.md
  bzfs_testbed/README.md
  bzfs_testbed/__init__.py
  bzfs_testbed/bzfs_job_testbed.py
  bzfs_testbed/lima_mesh.sh
  bzfs_testbed/lima_testbed.sh
  bzfs_testbed/lima_ubuntu_24_04.sh
  bzfs_tests/itest/test_lima_ubuntu_24_04_sh.py
Due: forbid-noqa-E, forbid-noqa-F, forbid-non-empty-init-py, forbid-dunder-all, forbid-aliased-import-of-modules, forbid-aliased-import-of-attributes, forbid-ambiguous-characters

docs: replace bzfs_job_example.py with bzfs_job_testbed.py (which is identical except that it works out of the box on the testbed)
  .agents/skills/experimental-bzfs-script-generator/SKILL.md
  .agents/skills/experimental-bzfs-script-generator/assets/skill_creation_prompt.md
  .agents/skills/experimental-bzfs-script-generator/references/safety_and_semantics.md
  .agents/skills/experimental-bzfs-script-generator/references/script_templates.md
  .agents/skills/experimental-bzfs-script-generator/references/simulation_examples.md
  .agents/skills/experimental-bzfs-script-generator/references/task_recipes.md
  AGENTS.md
  CHANGELOG.md
  README.md
  README_bzfs_jobrunner.md
  bzfs_main/argparse_cli.py
  bzfs_main/bzfs_jobrunner.py
  bzfs_testbed/bzfs_job_testbed.py
  bzfs_tests/bzfs_job_example.py
  pyproject.toml
Due: forbid-noqa-E, forbid-noqa-F, forbid-dunder-all, forbid-aliased-import-of-modules, forbid-aliased-import-of-attributes, forbid-ambiguous-characters

docs: improve readability
  .github/workflows/python-app.yml
  CHANGELOG.md
  README.md
  bzfs_testbed/README.md
  bzfs_testbed/lima_testbed.sh
Due: none

style: improve readability
  bzfs_testbed/lima_mesh.sh
Due: none

docs: improve readability (cont'd)
  CHANGELOG.md
  README.md
  bzfs_testbed/README.md
Due: none

docs(agent): update instructions for agents
  .agents/skills/experimental-bzfs-script-generator/SKILL.md
  .agents/skills/experimental-bzfs-script-generator/assets/skill_creation_prompt.md
  AGENTS.md
Due: none

style: improve readability
  bzfs_testbed/lima_testbed.sh
Due: none

style: improve readability
  bzfs_main/filter.py
Due: forbid-noqa-E, forbid-noqa-F, forbid-dunder-all, forbid-aliased-import-of-modules, forbid-aliased-import-of-attributes, forbid-ambiguous-characters

Path conditions:
  pyrefly-infer: any file but: .*
  forbid-noqa-E: any of: \.py$
  forbid-noqa-F: any of: \.py$
  forbid-non-empty-init-py: any of: .*\/__init__\.py$
  forbid-dunder-all: any of: \.py$
  forbid-aliased-import-of-modules: any of: \.py$
  forbid-aliased-import-of-attributes: any of: \.py$
  forbid-ambiguous-characters: any of: \.py$
